@(customer : Customer)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employees</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/index.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-secondary" background="\assets\images\recycleandrepairicon.png">
        ​
        <nav class="navbar navbar-expand-lg text-light bg-dark mb-4">
            <a class="navbar-brand text-white" href="/home" >Home</a>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="Employees">
                <form method="get" action="/employeesearch">
                    <a href="/employeesearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Employees">Employees
                        </button>
                    </a>
                </form>
                <form method="get" action="/customersearch">
                    <a href="/customersearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Customers
                        </button>
                    </a>
                </form>
                <form method="get" action="/devicesearch">
                    <a href="/devicesearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Devices
                        </button>
                    </a>
                </form>
                <form method="get" action="/itemsearch">
                    <a href="/itemrsearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Items</button>
                    </a>
                </form>
                <form method="get" action="/workordersearch">
                    <a href="/workordersearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Work Orders
                        </button>
                    </a>
                </form>
                <!-- Search form -->
                <form class="form-inline ml-auto">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Employee Name" aria-label="Search"
                               name="name">
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                    </div>
                </form>
                <form method="post" action="/logout">
                    <a href="/login">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Logout">Logout</button>
                    </a>
                </form>
            </div>
        </nav>
        ​
        <div class="container">
            <div class="page-header">
                <h1>Customer Information</h1>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label class="badge badge-info">First Name</label>
                            @customer.getFirstName
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">Phone Number</label>
                            @customer.getPhoneNumber
                        </div>
                        <div class="col-4">
                            <label class="badge badge-info">Email</label>
                            @customer.getEmail
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="badge badge-info">Last Name</label>
                            @customer.getLastName
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>