@(employee : Employee)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p>@employee.getFullName</p>
        <form method="post" enctype="multipart/form-data">
            @helper.CSRF.formField
            <input type="text" value="@employee.getFirstName" name="firstName">
            <input type="text" value="@employee.getLastName" name="lastName">
            <input type="text" value="@employee.getPhoneNumber" name="phoneNumber">
            <input type="email" value="@employee.getEmail" name="email">
            <input type="file" id="picture" name="picture">
            <input type="submit" value="Save">
        </form>
    </body>
</html>