@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p>Add Employee</p>
        <form method="post">
            @helper.CSRF.formField
            <input type="text" name = "firstName" placeholder="First Name">
            <input type="text" name = "lastName" placeholder="Last Name">
            <input type="text" name = "phoneNumber" placeholder="Phone Number">
            <input type="email" name = "email" placeholder="Email">

            <input type="submit" value="Save">

        </form>
    </body>
</html>