@(employees : List[EmployeeDetail])
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Employees</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/index.css">
        <link rel="stylesheet" href="/assets/stylesheets/searchtables.css">
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class = "bg-secondary"  background="\assets\images\recycleandrepairicon.png">
        ​
        <nav class="navbar navbar-expand-lg text-light bg-dark mb-4">
            <a class="navbar-brand text-white" href="/home" >Home</a>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="Employees">
                <form method="get" action="/employeesearch">
                    <a href="/employeesearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Employees">Employees
                        </button>
                    </a>
                </form>
                <form method="get" action="/customersearch">
                    <a href="/customersearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Customers
                        </button>
                    </a>
                </form>
                <form method="get" action="/devicesearch">
                    <a href="/devicesearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Devices
                        </button>
                    </a>
                </form>
                <form method="get" action="/itemsearch">
                    <a href="/itemrsearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Items</button>
                    </a>
                </form>
                <form method="get" action="/workordersearch">
                    <a href="/workordersearch">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Customers">Work Orders
                        </button>
                    </a>
                </form>
                <!-- Search form -->
                <form class="form-inline ml-auto">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Employee Name" aria-label="Search" name = "name">
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                    </div>
                </form>
                <form method="get" action="/employeeadd">
                    <a href="/employeeadd">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Logout">Create Employee
                        </button>
                    </a>
                </form>
                <form method="post" action="/logout">
                    <a href="/login">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Logout">Logout</button>
                    </a>
                </form>
            </div>
        </nav>
        ​
        <div class = "container">
            <h1 class="text-light display-1 text-center">
                <h1 class="text-light display-1 text-center">
                    <label class="badge badge-dark">Employees</label>
                </h1>
            </h1>
            <table class = "table table-hover table-dark table-striped table-bordered">
                <tr>
                    <th class = "bg-danger">Last Name</th>
                    <th class = "bg-danger">First Name</th>
                    <th class = "bg-danger">Phone Number</th>
                    <th class = "bg-danger">Email</th>
                    <th class = "bg-danger">Edit Information</th>
                </tr>
                @for(employee<-employees){
                <tr>
                    <td>@employee.getLastName</td>
                    <td>@employee.getFirstName</td>
                    <td>@employee.getPhoneNumber</td>
                    <td>@employee.getEmail</td>
                    <td class = "text-center">
                        <a href = "/employeeedit/@employee.getEmployeeId" class = "btn btn-outline-light btn-block">Edit</a></td>
                </tr>
                }
            </table>
        </div>
    </body>
</html>