@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RAR</title>
    </head>
    <body>
        <a href = "/employee" class = "btn btn-outline-info btn-block">Employees</a></td>
        <a href = "/customer" class = "btn btn-outline-info btn-block">Customers</a></td>
        <a href = "/itemsearch" class = "btn btn-outline-info btn-block">Inventory</a></td>
        <a href = "/workorder" class = "btn btn-outline-info btn-block">Workorders</a></td>
        <a href = "/login" class = "btn btn-outline-info btn-block">logout</a></td>
    </body>
</html>