@doctype.render
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>RAR</title>
    </head>
    <body>
        <a href = "/employeesearch" class = "btn btn-outline-info btn-block">Employees</a></td>
        <a href = "/customersearch" class = "btn btn-outline-info btn-block">Customers</a></td>
        <a href = "/itemsearch" class = "btn btn-outline-info btn-block">Inventory</a></td>
        <a href = "/workordersearch" class = "btn btn-outline-info btn-block">Workorders</a></td>
        <a href = "/login" class = "btn btn-outline-info btn-block">logout</a></td>
    </body>
</html>