@(items : List[ItemDetail])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Items</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-secondary">
        ​
        <nav class="navbar navbar-expand-lg text-light bg-dark mb-4">
            <a class="navbar-brand text-white" href="/home">Home</a>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                ​
                <!-- Search form -->
                <form class="form-inline ml-auto">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Item Name" aria-label="Search"
                               name="name">
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                    </div>
                </form>
                <a href="/login">
                    <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2">Logout</button>
                </a>
            </div>
        </nav>
        ​
        <form></form>
        <div class="container">
            <h1 class="text-light display-1 text-center">Item List</h1>

            <table class="table table-hover table-dark table-striped table-bordered">
                <tr>
                    <th class="bg-danger">
                        <form>
                            <input type="hidden" name="sortColumn" value="itemIdASC">
                            <input type="submit" value="▲" class="btn btn-danger btn-sm">
                        </form>
                        Item Id
                        <form>
                            <input type="hidden" name="sortColumn" value="itemIdDESC">
                            <input type="submit" value="▼" class="btn btn-danger btn-sm">
                        </form>
                    </th>
                    <th class="bg-danger">
                        <form>
                            <input type="hidden" name="sortColumn" value="itemNameASC">
                            <input type="submit" value="▲" class="btn btn-danger btn-sm">
                        </form>
                        Item Name
                        <form>
                            <input type="hidden" name="sortColumn" value="itemNameDESC">
                            <input type="submit" value="▼" class="btn btn-danger btn-sm">
                        </form>
                    </th>
                    <th class="bg-danger">
                        <form>
                            <input type="hidden" name="sortColumn" value="categoryNameASC">
                            <input type="submit" value="▲" class="btn btn-danger btn-sm">
                        </form>
                        Item Category
                        <form>
                            <input type="hidden" name="sortColumn" value="categoryNameDESC">
                            <input type="submit" value="▼" class="btn btn-danger btn-sm">
                        </form>
                    </th>
                    <th class="bg-danger">
                        <form>
                            <input type="hidden" name="sortColumn" value="retailPriceASC">
                            <input type="submit" value="▲" class="btn btn-danger btn-sm">
                        </form>
                        Retail Price
                        <form>
                            <input type="hidden" name="sortColumn" value="retailPriceDESC">
                            <input type="submit" value="▼" class="btn btn-danger btn-sm">
                        </form>
                    </th>
                    <th class="bg-danger">Edit Items</th>

                </tr>
                @for(item<-items){
                <tr>
                    <td>@item.getItemId</td>
                    <td>@item.getItemName</td>
                    <td>@item.getCategoryName</td>
                    <td>@item.getRetailPrice</td>

                    <td class="text-center">
                        <a href="/itemedit/@item.getItemId" class="btn btn-outline-danger btn-block">Edit</a></td>
                </tr>
                }

            </table>
        </div>
    </body>
</html>