@(message : String)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RAR Login</title>
        <link rel="stylesheet" href="/assets/stylesheets/index.css">
    </head>
    <body  background="\assets\images\recycleandrepairicon.png">
        <form method="post">
            @helper.CSRF.formField
            <input type="email" name="username" placeholder="User Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" name="Login">
            <p>@message</p>
        </form>
    </body>
</html>