@(workOrder : WorkOrderDetail, workOrderItems : List[WorkOrderItemsDetail], saleTotal :  java.math.BigDecimal,
items : List[Item])
@doctype.render
    <head>
        <meta charset = "UTF-8">
        <title>Employees</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
        <script src="/assets/lib/jquery/jquery.min.js"></script>
    </head>
    <body class = "bg-secondary">
        ​
        <nav class="navbar navbar-expand-lg text-light bg-dark mb-4">
            <a class="navbar-brand text-white" href="/home">Home</a>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                ​
                <!-- Search form -->
                <form class="form-inline ml-auto">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Work Order Id" aria-label="Search" name = "name">
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                    </div>
                </form>
                <form method="post" action="/logout">
                    <a href="/login">
                        @helper.CSRF.formField
                        <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="Logout">Logout</button>
                    </a>
                </form>
            </div>
        </nav>
        ​
        <div class="container">
            <div class="page-header">
                <h1>Work Order</h1>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label class="badge badge-danger">Work Order Id</label>
                            @workOrder.getWorkOrderId
                        </div>
                        <div class="col-4">
                            <label class="badge badge-danger">Employee</label>
                            @workOrder.getEmployeeName

                        </div>
                        <div class="col-4">
                            <label class="badge badge-danger">Device Model</label>
                            @workOrder.getModelName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="badge badge-danger">Customer</label>
                            @workOrder.getCustomerName
                        </div>
                        <div class="col-4">
                            <label class="badge badge-danger">Device Id</label>
                            @workOrder.getDeviceId
                        </div>
                        <div class="col-6">
                            <label class="badge badge-danger">Work Order Created</label>
                            @workOrder.getDateTime
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="badge badge-danger">Customer Contact Information</label>
                            @workOrder.getCustomerPhoneNumber
                            @workOrder.getCustomerEmail
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="/workorder/@workOrder.getWorkOrderId">
            @helper.CSRF.formField
            <select name="itemId">
                @for(item<-items){
                <option name="itemId" value="@item.getItemId" @if(item.getItemId==item.getItemId){selected}>
                    @item.getItemName
                </option>
                }
            </select>
            <input type="number" value="quantity" name="quantity" required>

            <button class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2" value="addItem" type="submit">Add Item</button>
        </form>

        <table class="table table-hover table-dark table-striped table-bordered">
            <tr>

                <th class="bg-danger" >Items</th>
                <th class="bg-danger" >Item Price</th>
                <th class="bg-danger" >Quantity</th>
                <th class="bg-danger" >Quantity Cost</th>
                <th class="bg-danger" ></th>

                @for(workOrderItem<-workOrderItems){
            <tr>
            <td>@workOrderItem.getItemName</td>
            <td>@workOrderItem.getRetailPrice</td>
            <td>@workOrderItem.getQuantity</td>
            <td>@workOrderItem.getRetailTotal</td>

            <td>
            <form method="post" action="/workorderdelete/@workOrderItem.getWorkOrderItemsId">
                @helper.CSRF.formField
                    <input type="hidden" name="workOrderId" value="@workOrder.getWorkOrderId" >
                    <input type="submit" value="Remove Item" class="btn btn-danger btn-sm">
            </form>
            </td>

        </tr>
            }
            <th class="bg-danger" value="Items"></th>
            <th class="bg-danger" value="Items"></th>
            <th class="bg-danger" value="Items">Sale Total</th>

            <td>@saleTotal</td>
        </table>
    </body>
</html>